<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>S.id URL Shortener</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body ng-app="sid">
  <div ng-controller="AppCtrl">
    <div class="container">
      <form>
        <input type="text" ng-model="url" class="form-control">
        <button class="btn btn-primary" ng-click="shorten()">Shorten</button>
        <div ng-bind="result">
        </div>
      </form>
    </div>
  </div>
  
  <script src="https://code.angularjs.org/1.3.15/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.3.15/angular-sanitize.min.js"></script>
  <script>
  angular.module('sid', ['ngSanitize'])
  .controller('AppCtrl', function($scope, $http) {
    $scope.url = 'http://example.com/';
    $scope.result = '';
    $scope.shorten = function() {
      $http.get('http://busintime.id:3450/shorten/'+encodeURIComponent())
      .success(function(data) {
        $scope.result = 'http://s.id/'+data.shorten;
      });
    }
  });
  </script>
</body>
</html>
